<html>
<head>
	<title>{{stopName}}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<h2>{{stopName}}<br />{{stopNumber}}</h2>
Retrieved at {{when}}<br />
Only show: <a href="/arrivals/{{stopId}}">All</a>
{{#lines}}
<a href="/arrivals/{{stopId}}?line={{line}}">{{line}}</a>
{{/lines}}
<br /><br />
{{#buses}}
{{minutes}} ({{expectedArrival}}): <b>{{line}}</b> to <b>{{destination}}</b><br />
{{/buses}}
<br />
{{^buses}}
No arrivals soon<br /><br />
{{/buses}}
{{#inFavourites}}
<form action="/favourite-remove" method="post" id="nearby-form">
	<input type="hidden" name="stopid" value="{{stopId}}" />
	<input type="submit" value="Remove from favourites" />
</form>
{{/inFavourites}}
{{^inFavourites}}
<form action="/favourites" method="post" id="nearby-form">
	<input type="hidden" name="stopid" value="{{stopId}}" />
	<input type="hidden" name="prettyName" value="{{stopName}} {{stopNumber}}" />
	<input type="submit" value="Add to favourites" />
</form>
{{/inFavourites}}
<a href="/">Back to front page</a>
<hr />
Powered by TfL Open Data<br />
Contains OS data &copy; Crown copyright and database rights 2016<br />
By <a href="http://tevp.net/">Tom Parker-Shemilt</a>. <a href="https://github.com/palfrey/dawn">Source Code</a>.
</body>
