<html>
<head>
	<title>Group of stops: {{query}}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<h2>Group of stops: {{query}}</h2>
<ul>
{{#stops}}
<li><a href="/arrivals/{{id}}">{{stopName}}{{stopNumber}}</a></li>
{{/stops}}
</ul>
{{^stops}}
No results<br /><br />
{{/stops}}
<a href="/">Back to front page</a><br />
<hr />
Powered by TfL Open Data<br />
Contains OS data &copy; Crown copyright and database rights 2016<br />
By <a href="http://tevp.net/">Tom Parker</a>. <a href="https://github.com/palfrey/dawn">Source Code</a>.
</body>
