<html>
<head>
	<title>Dawn</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<h2>Dawn: London buses search</h2>
<form action="/search" method="get">
	Search (name or Countdown Bus Stop Code)<br />
	<input type="text" name="query" />
	<input type="submit" value="Search" />
</form>
<span id="info"></span>
<form action="/nearby" method="get" id="nearby-form">
	<input type="hidden" name="latitude" />
	<input type="hidden" name="longitude" />
	<script>
		function getLocation(e) {
			var event = e || window.event;
			event.preventDefault();
			var info = document.getElementById("info");
			if (navigator.geolocation) {
				var options = {
					enableHighAccuracy: true,
					timeout: 5000,
					maximumAge: 5000
				};
				navigator.geolocation.getCurrentPosition(getPosition, positionError, options);
				info.innerHTML = "Getting location...";
			} else {
				info.innerHTML = "Geolocation is not supported by this browser.";
			}
			return false;
		}

		function positionError(err) {
			var info = document.getElementById("info");
			info.innerHTML = "Can't get location: " + err;
		}

		function getPosition(position) {
			var latitude = document.getElementsByName("latitude")[0];
			latitude.setAttribute("value", position.coords.latitude);
			var longitude = document.getElementsByName("longitude")[0];
			longitude.value = position.coords.longitude;
			var info = document.getElementById("info");
			info.innerHTML = "Got location, retrieving stops...";
			document.getElementById("nearby-form").submit();
		}
	</script>
	<input type="submit" value="Nearby stops" onClick="javascript:getLocation();" />
</form>
<h2>Favourites</h2>
<ul>
{{#favourites}}
<li><a href="/arrivals/{{key}}">{{value}}</a></li>
{{/favourites}}
</ul>
{{^favourites}}
No favourites yet<br /><br />
{{/favourites}}
<a href="/favourites">Edit favourites</a><br />
<hr />
Powered by TfL Open Data<br />
Contains OS data &copy; Crown copyright and database rights 2016<br />
By <a href="http://tevp.net/">Tom Parker</a>. <a href="https://github.com/palfrey/dawn">Source Code</a>.
</body>
</html>
