<html>
<head>
	<title>Search: {{query}}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<h2>Search: {{query}}</h2>
<ul>
{{#stops}}
<li><a href="/id/{{id}}">{{name}}{{stop}}</a></li>
{{/stops}}
</ul>
{{^stops}}
No results<br /><br />
{{/stops}}
<a href="/">Back to front page</a><br />
<hr />
Powered by TfL Open Data<br />
Contains OS data &copy; Crown copyright and database rights 2016
</body>
